<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/show.css">
<div class="container">
    <div class="row mt-3">
        <div class="col-md-6">
                <img class="player-image" src="<%= player.image %>">
        </div>
        <div class="col-md-6">
                <div class="caption-full">
                    <h1><a><%=player.name%></a></h1>
                    <p><%= player.description %></p>
                    <p>
                        <em>Submitted By <%= player.author.username %></em>
                    </p>
                    <% if(currentUser && player.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-sm edit" href="/players/<%= player._id %>/edit">Edit</a>
                        <form id="delete-form" action="/players/<%= player._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm delete ml-2">Delete</button>
                        </form>
                    <% }%>
                </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h1>Share your best memories of <%= player.name %></h1>
            <a class="btn" href="/players/<%= player._id %>/comments/new">Add New Memory</a>
        </div>
        <div class="col-6 mt-5">
            <% player.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <p>
                            <%= comment.text %> 
                        </p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-sm edit" href="/players/<%=player._id %>/comments/<%=comment._id %>/edit">Edit</a>
                        <form id="delete-form" action="/players/<%=player._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-sm delete" value="Delete">
                        </form>
                    <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<% include ../partials/footer %>